
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');


body {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#bodytext {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0% 5% 0% 5%;
}

#header {
    background: rgb(255, 255, 255);
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    
}

.sections {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(180, 13, 71) ;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    font-weight: 100;
    word-spacing: 40px;
}

.table {
    width: auto;
    height: 30rem;
    align-self: center;
}

#container1 {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 10px;
}

#container2 {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 10px;
}

#imagen1 {
    width: auto;
    height: 30rem;
    display: block;
    margin: 0 auto;
}


.images img {
    max-width: 100%;
    height: auto;
}


#titulo, h3 {
    font-family: Optima;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-variant: small-caps;
    
}

#principal {
    width: 50%;
    align-content: center;
    text-align: center;
    display: flex;
    margin: 0 auto;
}

h2{ 
    font-family: 'Cinzel Decorative', cursive;
    width: auto;
    font-variant: small-caps;
    padding-left: 5%;
}

#news {
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    font-variant: small-caps;
    padding: auto;
    font-size: 70px;    
    margin: 0%;
}
